---
layout: default
overview: true
---



<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first"><strong>Grant Lab</strong>: Computational Biophysics & Bioinformatics </p>
    </div>
  </div>
</section>
<section class="features">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
    <p>
    Our research involves the use of computational approaches, based on both <em>biophysics</em> and <em>bioinformatics</em>, to study the structure, function and evolution of key biological macromolecules. 
    </p>

    <p>
    We are particularly interested in nature’s nanomachines: <strong><a href="{{ "/research/index.html#motos" | prepend: site.baseurl }}">molecular motors and switches</a></strong>, which lie at the heart of important biological processes, from the division and growth of cells to the muscular movement of organisms. A major portion of our research is focused on deciphering how these fascinating proteins work, and how to manipulate them for industrial and medical advantage. <a href="{{ "/research/" | prepend: site.baseurl }}">Read more &rarr;</a>
    </p>

    <p>
    Our specific areas of expertise include:
    </p>
    </div>
    <div class="unit one-third">
      <h3><a href="{{ "/research/" | prepend: site.baseurl }}">Biomolecular Simulation</a></h3>
      <p>
        Application of advanced <em>molecular simulation</em> techniques to probe the structure, dynamics and interactions of biomolecules.
      </p>

    </div>
    <div class="unit one-third">
      <h3><a href="{{ "/research/" | prepend: site.baseurl }}">Structural Bioinformatics</a></h3>
      <p>
      Development and application of <em>bioinformatics</em> methods for the analysis of protein sequence-structure-function relationships.
      </p>

    </div>
    <div class="unit one-third">
      <h3><a href="{{ "/research/" | prepend: site.baseurl }}">Drug Discovery & Design</a></h3>
      <p>
        Virtual screening, structure-based drug design, cheminformatics and molecular modeling supporting drug discovery and design.
      </p>
    
    </div>
    <div class="clear"></div>
  </div>
</section>


<section class="standalone">
  <div class="grid">
    <div class="unit whole">

      <article>
        <div class="unit whole center-on-mobiles">
          <img src="http://thegrantlab.org/bio3d/images/bio3d_logo_circle15.png" alt="Bio3D Logo" style="float:right" >
          
          <div class="pane-content">
            <h2 class="center-on-mobiles"><strong>Bio3D</strong> software for structural bioinformatics</h2>
            <p>We lead the development of the Bio3D package used by thousands of researchers around the world to investigate protein sequence-structure-function relationships. <a href="http://thegrantlab.org/bio3d/index.php">Learn more about Bio3D &rarr;</a>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </article>

    </div>
  </div>
</section>


<section class="features">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <br/>
      <h3><a href="{{ "/people/" | prepend: site.baseurl }}">Lab members</a></h3>
      <img src="{{ "/img/group.png" | prepend: site.baseurl }}" alt="Group Members" style="float:right;margin-right: 15px;margin-top: 10px;heigth:164.5px;width:965px" >
      <p>
      Here is a place for thumbnail like image slider gallery with links to both the research and gallery/movies pages.<br/><br/>
      </p>

      {% for gallery in site.data.galleries %}
      <a href="{{ gallery.id }}"><h3>{{ gallery.description }}</h3></a>
        {% for image in gallery.images %}
              <a href="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ image.name }}" class="fancybox" rel="{{ gallery.id }}" title="{{ image.text }}">
            <img src="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ image.thumb }}" class="imghover"/></a>
        {% endfor %}
      <br/>
      <a href="{{ gallery.id }}">View more images &rarr;</a>
      {% endfor %}
      <br/>
      <br/>
      <div id="pubvids">
      {% for gallery in site.data.videos %}
      <!-- <a href="{{ gallery.id }}"><h3>{{ gallery.description }}</h3></a> -->
      <!--   <a href="#"><h3>{{ gallery.description }}</h3></a> -->
        {% for video in gallery.videos %}
        <a class="fancybox-media" rel="{{ gallery.id }}" href="{{ video.url }}" title="{{ video.text }}"><img src="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ video.thumb }}" class="resizegallery imghover"/></a>
        {% endfor %}
      <br/>
      <a href="https://vimeo.com/grantlab/videos">View more movies &rarr;</a>
      {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="free-hosting">
  <div class="grid">
    <div class="unit whole">
      <div class="grid pane">
        <div class="unit whole center-on-mobiles">
            
          <div class="pane-content">
            <h2 class="center-on-mobiles"><strong>Contact</strong></h2>

            <p>
            There are lots of opportunities to get involved in our work! In addition to <a href="{{ "/people/index.html#jobs" | prepend: site.baseurl }}">current openings</a>, we are interested in hearing from energetic University of Michigan graduate and undergraduate students who would like to learn more about our research. Prospective postdocs and students should contact Professor Grant directly.
            </p>
            <a href="{{ "/people/index.html#jobs" | prepend: site.baseurl }}">Current Openings &rarr;</a>

          </div>

        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
