---
layout: news
title: News
permalink: /news/
author: all
---
<article>
<h1> Lab Information </h1>


<p>In addation to background information on <a href="{{ "/research/index.html#motos" | prepend: site.baseurl }}">Grant lab members</a> this section of our site is intended to serve as a repository of living knowledge for how things work in the lab. 
</p>
<p>Please note that portions of this content will be accessible only to lab members. For information on joining the lab see our current <a href="{{ "/research/index.html#motos" | prepend: site.baseurl }}">open positions</a>.
</p>
</article>

<article>
  <h2>
    <a href="">Grant Lab People</a>
  </h2>
  <span class="post-category">
    <span class="label">
      lab
    </span>
  </span>
  <div class="post-content">


<p><img src="http://thegrantlab.org/people/files/img_0013.jpg" alt="Xin-Qiu" /><br />
Xin-Qiu Yao, <br />
Ph.D. Biomechanics and Medical Engineering, Peking University, China.<br />
Postdoctoral Fellow</p>

<p><br /></p>

<p><img src="http://thegrantlab.org/people/files/img_0011-2.jpg" alt="Guido" /><br />
Guido Scarabelli,<br />
Ph.D. Bioinformatics, University of Milano, Italy.<br />
Postdoctoral Fellow</p>

<p>￼<br /></p>

<p><img src="http://thegrantlab.org/people/files/img_0523.jpg" alt="Hongyang" /><br />
Hongyang Li,<br />
PhD student, Chemical Biology<br />
University of Michigan, Ann Arbor <br />
Graduate Student</p>

<p><br /></p>

<p><img src="http://www.ccmb.med.umich.edu/sites/default/files/people/Shashank_Jariwala.jpg" alt="Shashank" /><br />
<a href="http://www.ccmb.med.umich.edu/node/1023">Shashank Jariwala</a>,<br />
PhD student, Bioinformatics<br />
University of Michigan, Ann Arbor   <br />
Graduate Student</p>

<p><br /></p>

<p>Nithin Ravooru<br />
Masters student, Bioinformatics</p>

<p><br /></p>

<p>Lars Skjaerven<br />
Visiting Scholar, <br />
University of Bergen, Norway</p>

<p><br /></p>

<p><img src="http://thegrantlab.org/people/files/barry.jpg" alt="Barry" /><br />
Barry Grant, <br />
Ph.D. Chemistry, University of York, UK.<br />
Group Leader</p>

<p><br /></p>

  </div>
</article>


{% for post in site.posts %}
  {% include news_item.html %}
{% endfor %}
