<footer role="contentinfo">
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>
      <a href="http://umich.edu/">
        <img src="{{ "/img/umich-logo.png" | prepend: site.baseurl }}" width="174" height="184" alt="UM">
      </a>
      </p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
      <br />
      <a href="http://www.ccmb.med.umich.edu/">Computational Medicine & Bioinformatics (DCMB)</a><br />
      University of Michigan, Ann Arbor <br />
      Telephone: (734) 647 3113 <br />
      Email: bjgrant@umich.edu <br />
      <br />&copy;&nbsp;{{ site.time | date: '%Y' }} | <a href="{{ site.repository }}/bl
ob/master/LICENSE">MIT&nbsp;License</a>
      </p>
    </div>
  </div>
</footer>
