<footer role="contentinfo">
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>
      <br />
      <br />
      <a href="https://ucsd.edu/">
        <img src="{{ "/img/UCSanDiegoLogo-White.png" | prepend: site.baseurl }}"  alt="UCSD">
      </a>
      </p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
      <br />
      <a href="https://biology.ucsd.edu/">Division of Biological Sciences</a><br />
      University of California, San Diego <br />
      9500 Gilman Dr.  La Jolla, CA 92093 <br />
      Telephone: (858) 822 2209 <br />
      Email: bjgrant@ucsd.edu <br />
      <br />&copy;&nbsp;{{ site.time | date: '%Y' }} | <a href="{{ site.repository }}/bl
ob/master/LICENSE">MIT&nbsp;License</a>
      </p>
    </div>
  </div>
</footer>
