<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Grant Lab</h4>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="{{ "/news/index.html#people" | prepend: site.baseurl }}">People</a>
      </li>
      <li class="{% if page.title == 'Grant Lab Alumni' %}current{% endif %}">
        <a href="{{ "/news/2016/04/18/grant-lab-alumni/" | prepend: site.baseurl }}">Alumni</a>
      </li>
      <li class="{% if page.title == 'Open Positions' %}current{% endif %}">
        <a href="{{ "/news/2016/04/18/open-positions/" | prepend: site.baseurl }}">Open Positions</a>
      </li>
      <li class="{% if page.title == 'location' %}current{% endif %}">
        <a href="{{ "/news/location/" | prepend: site.baseurl }}">Lab Location</a>
      </li>

    </ul>
    <h4>Resources</h4>
    <ul>
      <li class="{% if page.title == 'Posts' %}current{% endif %}">
        <a href="{{ "/news/all.html"  | prepend: site.baseurl }}">All News & Posts »</a>
      </li>
            <li class="{% if page.title == 'Releases' %}{% endif %}">
        <a href="{{ "/news/bio3d_news/" | prepend: site.baseurl }}">Bio3D News</a>
      </li>
      <li class="{% if page.title == 'Blog' %}{% endif %}">
        <a href="{{ "/news/blog/" | prepend: site.baseurl }}">HowTOs</a>
      </li>

    </ul>
    <h4>Recent Posts</h4>
    <ul>
        {% for post in site.posts %}
        {% unless post.categories contains 'release' %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endunless %}
        {% endfor %}
        <br />
          <li>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> (via RSS)</a></li>

    </ul>


  </aside>
</div>
